target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.checkstyle
git.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.checkstyle

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.checkstyle
results/

### Mac OS Desktop Services Store ###
**/.DS_Store